body {
    background-color: black;
}
.container {
    display: flex;
    margin: 30%;
    margin-top: 7%;
}

.post {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.title {
    display: flex;
    flex-direction: row;
}

.photo {
    
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
    font-size: 30px;
}

.leftIcons {
    display: flex;
    flex-direction: row;
    margin: 7px;
}

#heart {
    margin: 5px;
}

#comment {
    margin: 5px;
}

#plane {
    margin: 5px;
}

#save {
    margin: 10px;
    margin-left: 15px;
}


.logo {
    font-size: 30px;
    margin: 5px;
    margin-left: 13px;
    margin-top: 20px;
    margin-right: 10px;
}

.name {
    margin-right: 385px;
    align-items: center;
}

#upName {
    margin-bottom: 0;
}

#downName {
    margin-top: 0;
}

.dots {
    margin-top: 20px;
    font-size: 30px;
}

.likes {
    margin-left: 30px;
}

.description {
    margin-left: 30px;
}


